{% macro toggleView(path, id, code, data) %}
  {% from "../macros/data-list.njk" import dataList %}
  {% set previewUrl = '/' + path  + '/' + id %}
  <div id="{{ id }}-display" class="q-display-col">
    <div id="{{ id }}-buttons" class="q-display-buttons buttons are-small">
      <button id="view-{{ id }}" class="button is-outlined is-info js-toggle-btn">
        <span class="c-icon">
          <svg aria-hidden="true">
            <use xlink:href="#eye"></use>
          </svg>
        </span>
      </button>
      <button id="code-{{ id }}" class="button is-outlined js-toggle-btn">
        <span class="c-icon">
          <svg aria-hidden="true">
            <use xlink:href="#code"></use>
          </svg>
        </span>
      </button>
      <button id="stats-{{ id }}" class="button is-outlined js-toggle-btn">
        <span class="c-icon">
          <svg aria-hidden="true">
            <use xlink:href="#bar-chart-2"></use>
          </svg>
        </span>
      </button>
      <a href="{{ previewUrl | url }}" class="button is-outlined">
        <span class="c-icon">
          <svg aria-hidden="true">
            <use xlink:href="#arrow-up-right"></use>
          </svg>
        </span>
      </a>
    </div>
    <div id="view-{{ id }}-pane" class="q-display-pane js-pane active">
      <div data-frame-src="{{ previewUrl | url }}"></div>
    </div>
    <div id="code-{{ id }}-pane" class="q-display-pane js-pane">
      <pre><code class="language-html">{{ code }}</code></pre>
    </div>
    <div id="stats-{{ id }}-pane" class="q-display-pane js-pane">
      {{ dataList(data) }}
    </div>
  </div>
{% endmacro %}
