// Navbar (c-navbar)
//
// Main navigation bar. To use a white background, change .c-navbar--dark to .c-navbar--light and update the Tribune logo to one with black text. {{isWide}}
//
//
// Markup: 6-components/navbar/navbar.html
//
// Styleguide 6.1.3
.c-navbar {
  display: flex;
  padding: 0 $size-b;

  @include mq($until: bp-l) {
    flex-wrap: wrap;
  }

  &--light {
    background-color: $color-white-pure;
    border-bottom: 1px solid $color-white-off;

    .c-icon {
      color: $color-black-off;
    }
  }

  &--dark {
    background-color: $color-black-off;

    .c-icon {
      color: $color-yellow-tribune;
    }
  }

  &__top {
    flex: 0 1 100%;
    display: flex;
    height: 45px;
    justify-content: space-between;
    max-width: 100rem;
    position: relative;
  }

  &__logo {
    flex: 0 1 210px;

    img {
      display: block;
    }
  }

  &__content {
    display: flex;
  }

  &__items {
    display: flex;
    list-style: none;
  }

  &__item {
    display: flex;

    &--space-right {
      margin-right: $size-m;
    }

    &--giant-space-right {
      margin-right: $size-giant;
    }
  }

  &__clickable {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: all 0.15s;

    .c-navbar--light & {
      background-color: $color-white-pure;
      color: $color-black-off;
    }

    .c-navbar--dark & {
      background-color: $color-black-off;
      color: $color-gray-light;

      &:hover,
      &:active,
      &.is-active {
        color: $color-white-pure;
      }
    }

    &--animated {
      @include mq($from: bp-l) {
        &:hover {
          &:after {
            background-color: $color-yellow-tribune;
          }
        }
      }
    }

    &.is-active {
      &:after {
        background-color: $color-yellow-tribune;
      }
    }

    &:after {
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      transition: background-color 0.15s;

      @include mq($from: bp-l) {
        top: auto;
        bottom: 0;
      }
    }
  }

  &__dropdown {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    padding: $size-b/2 0 0 0;
  }

  &__dropdown-items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__dropdown-item {
    margin-right: $size-m;
    margin-bottom: $size-m;
  }
}
