// Button (c-button)
//
// Buttons rely on color helpers for background. The variations are simply sizes. One catch is that are buttons run small in sizes so the names aren't true to their padding and font-size assignments.
//
// .c-button--l - Large button
// .c-button--s - XS button
//
// Markup: 6-components/button/button.html
//
// Styleguide 6.1.1
.c-button {
  background-color: $color-blue-light;
  border: none;
  font-weight: 700;
  font-size: $size-xxs;
  letter-spacing: $font-letter-spacing;
  padding: $size-xxs;
  text-align: center;
  text-transform: uppercase;

  &--l {
    font-size: $size-l;
    padding: $size-l;
  }

  &--s {
    font-size: $size-xxxs;
    padding: $size-xxxs;
  }
}
