<!-- the variations for this one occur on the items -->
<ul class="c-block-grid has-giant-btm-marg {{ className }}">
  <li class="c-block-grid__item">
    {% include "../story-block/story-block-trending.html" %}
  </li>
  <li class="c-block-grid__item">
    {% include "../story-block/story-block-trending.html" %}
  </li>
  <li class="c-block-grid__item">
    {% include "../story-block/story-block-trending.html" %}
  </li>
  <li class="c-block-grid__item">
    {% include "../story-block/story-block-trending.html" %}
  </li>
  <li class="c-block-grid__item">
    {% include "../story-block/story-block-trending.html" %}
  </li>
  <li class="c-block-grid__item">
    {% include "../story-block/story-block-trending.html" %}
  </li>
  <li class="c-block-grid__item">
    {% include "../story-block/story-block-trending.html" %}
  </li>
</ul>
