---
layout: base.njk
---
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ '/' | url }}">Home</a></li>
    <li class="is-active"><a href="{{ page.url | url }}">Date Labels</a></li>
  </ul>
</nav>
<div class="date-labels q-container">
  <section>
    <h2 class="subtitle">Date labels</h2>
    {% for year in years %}
      <div class="has-b-btm-marg">
        <div class="date-label has-bg-black has-text-white t-weight-bold t-serif t-lh-s">
          <div class="l-align-center-children">
            <div class="c-icon has-text-yellow"><svg aria-hidden="true"><use xlink:href="#bug"></use></svg></div>
            <div class="has-tiny-btm-marg">
              <span class="t-size-l"><em>from</em></span> <span class="t-size-xxxl">{{ year }}</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
</div>
