---
layout: base.njk

---
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{{ '/' | url }}">Home</a>
    </li>
    <li class="is-active">
      <a href="{{ page.url | url }}">Icons and Logos</a>
    </li>
  </ul>
</nav>
<h1 class="is-size-2 q-bottom-spacer">Icons and Logos</h1>
<div class="q-container q-display-pane">
  <div class="q-spacer">
    <h2 class="is-size-3 q-bottom-spacer">Logos</h2>
    <div class="q-bottom-spacer">
      {% include './includes/tt-logo.njk' %}
    </div>
    <div class="has-bg-black-off has-padding">
      {% set inverse = true %}
      {% include './includes/tt-logo.njk' %}
    </div>
    {% set inverse = false %}
    {% set logoCode %}{% include './includes/tt-logo.njk' %}{% endset %}
    <pre><code class="language-html">{{ logoCode|escape }}</code></pre>
  </div>
  <div class="q-spacer">
    <h2 class="is-size-3 q-bottom-spacer">Icons</h2>
    <div class="q-bottom-spacer">
      <pre><code class="language-html">{{'<span class="c-icon"><span class="is-sr-only">Icon description for screen readers if applicable</span><svg aria-hidden="true"><use xlink:href="#[icon name here]"></use></svg></span>' | escape }}</code></pre>
    </div>
    {% for iconSet in icons %}
      <div class="q-spacer">
        <h3 class="is-size-4 q-bottom-spacer">{{iconSet.name}}
          <span class="tag is-rounded">{{ iconSet.icons|length }}</span></h3>
        <div class="q-tiles">
          {% for icon in iconSet.icons %}
            <div class="card t-align-center">
              <div class="section has-background-light">
                <div class="c-icon t-size-xxl">
                  <svg aria-hidden="true" focusable="true">
                    <use xlink:href="#{{icon}}"></use>
                  </svg>
                </div>
              </div>
              <div class="card-content">
                <h4 class="is-size-5">{{icon}}</h4>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
