---
layout: base.njk
---

{% from "./macros/menu-item.njk" import menuItem %}
<div class="q-container">
  <h1 class="is-size-3">Style Documentation for The Texas Tribune</h1>
  <div class="q-spacer">
    <h2 class="is-size-4 q-bottom-spacer">Base</h2>
    <ul class="l-multicol">
      {% for item in nav.items %}
        <li class="q-bottom-spacer">{{ menuItem(item.slug, item.name, current) }}</li>
      {% endfor %}
    </ul>
  </div>
  <h2 class="is-size-4 q-bottom-spacer">Sections</h2>
  <ul class="l-multicol">
  {% for section in styles.nested %}
    {% if section.name != 'Resets' and section.name != 'Settings' and section.name != 'Tools' %}
      <li class="q-bottom-spacer">{{ menuItem('sections/' + section.slug + '/', section.name) }}</li>
    {% endif %}
  {% endfor %}
  </ul>
</div>