---
layout: base.njk

---
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ '/' | url }}">Home</a></li>
    <li class="is-active"><a href="{{ page.url | url }}">Tools</a></li>
  </ul>
</nav>
<h1 class="is-size-2 q-bottom-spacer">Functions and Mixins</h1>

{% for item in docs.tokenMaps %}
  {% if item.details.isTool %}
    <div id="{{ item.name | cleanSlug }}" class="q-spacer q-container">
      <div class="q-bottom-spacer">
        <h2 class="is-size-6 is-inline-block"><code>{{ item.name }}({% for setting in item.list %}{{ setting.name }}{% if not loop.last %}, {% endif %}{% endfor %})</code>&nbsp;</h2>
        <a href="{{ item.location }}" title="View on Github">
          <span class="c-icon c-icon--baseline is-size-5">
            <svg aria-hidden="true">
              <use xlink:href="#github"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="q-desc q-bottom-spacer">{{ item.description | safe }}</div>
      <table class="table is-bordered">
        <tr><th>Param</th><th>Default</th><th>Description</th></tr>
        {% for setting in item.list %}
          <tr>
            <td><code>{{ setting.name }}</code></td>
            <td>{{ setting.value }}</td>
            <td>{{ setting.description }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
{% endfor %}
