// Align (l-align-<position>)
//
// Mostly used for centering and some assume a flex parent. {{isHelper}}
//
// l-align-center-x - Uses auto side margin for **horizontal** center
// l-align-center-y - Absolutely positioned for vertical **vertical** center
// l-align-center-self - Used on children of flex or grid parent for **vertical** center
// l-align-bottom-self - Used on children of flex or grid parent for forcing **bottom** alignment
// l-align-center-children - Apply to parent to center children. Centers x and y.
//
// Markup: 7-layout/align.html
//
//
// Styleguide 7.0.4
.l-align-center-x {
  margin-left: auto;
  margin-right: auto;
}

.l-align-center-y {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

// apply to an item with a flex or grid parent
.l-align-center-self {
  align-self: center;
}
// apply to an item with a flex or grid parent
.l-align-bottom-self {
  align-self: end;
}

.l-align-center-children {
  align-items: center;
  display: flex;
  justify-content: center;
}