// Align (l-align-<position>)
//
// Mostly used for centering and some assume a flex parent. {{isHelper}}
//
// l-align-center-x - Uses auto side margin for **horizontal** center
// l-align-center-y - Absolutely positioned for vertical **vertical** center
// l-align-center-self - Used on children of flex parent for **vertical** center
//
// Markup: 7-layout/align.html
//
//
// Styleguide 7.0.4
.l-align-center-x {
  margin-left: auto;
  margin-right: auto;
}

.l-align-center-y {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

// apply to an item with a flex parent
.l-align-center-self {
  align-self: center;
}
