// Column grid (l-col-grid)
//
// Just testing the waters of a tiny grid helper. For now, used on photo grids and in AMP templates. {{isHelper}}
//
// l-col-grid--2x - Columns split 50/50
// l-col-grid--3x - Columns split in thirds
// l-col-grid--xxxs-gap - Shrink up the default gap. Used on photo grid
// l-col-grid--resp - Collapse all columns at `bp-m`
//
// Markup: 7-layout/col-grid.html
//
// Styleguide 7.0.1
//
.l-col-grid {
  @supports (display: grid) {
    @include gap;
    display: grid;

    &--2x {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3x {
      grid-template-columns: repeat(3, 1fr);
    }

    &--xxxs-gap {
      @include gap(.5rem);
    }
    
    @include mq($until: bp-m) {
      &--resp {
        grid-template-columns: 1fr;
      }
    }
  }
}