// Content Grid (l-content-grid)
//
// Standard two col grid with a content area and sidebar. We use CSS variables to allow for flexibility in setting column ratios, order, and gap size. This grid starts at `bp-l`. The default sidebar width is to account for 300x250 ads.
//
// Markup: 7-layout/content-grid.html
//
// Styleguide 7.0.1
//
:root {
  --content-grid-order: 'content side';
  --content-grid-template: 1fr 310px;
  --content-grid-gap: #{$size-xxl};
}

.l-content-grid {
  @supports (display: grid) {
    @include mq($from: bp-l) {
      @include gap(var(--content-grid-gap));
      display: grid;
      grid-template-areas: var(--content-grid-order);
      grid-template-columns: var(--content-grid-template);

      &__side {
        grid-area: side;
      }

      &__content {
        grid-area: content;
      }
    }
  }
}