// Container (l-container)
//
// Max width container, centered with margin auto. Note: Demo is best viewed in [standalone preview](/pages/layout/l-container/raw-preview.html).
//
// l-container--s - Maxed at 520px
// l-container--m - Maxed at 650px
// l-container--l - Maxed at 845px
// l-container--xl - Maxed at 1080px
// l-container--xxl - Maxed at 1300px
//
// Markup: 7-layout/container.html
//
// Styleguide 7.0.1
//
.l-container {
  max-width: px-to-rem($bp-default);
  margin-left: auto;
  margin-right: auto;
}

@each $size-label, $value in $mq-breakpoints {
  $label: str-replace($size-label, 'bp-', '');
  @if $size-label != 'default'  {
    .l-container--#{$label} {
      max-width: px-to-rem($value);
    }
  }
  
}