// Flex  (l-flex)
//
// Barebones flex helpers. This breaks some convention with other layout classes, but we use flexbox enough to justify it (no pun intended) {{isHelper}}
//
// .l-flex - **display:flex** Uses flexbox.
// .l-flex-row - **flex-direction: row** Horizontal flexbox.
// .l-flex-column - **flex-direction: column** Vertical flexbox.
// .l-flex-ai-center - **align-items: center** Center items vertically (for row).
// .l-flex-jc-center - **justify-content: center** Center items horizontally (for row).
// .l-flex-jc-space - **justify-content: space-between** Evenly space items horizontally (for row).
//
// Markup: 7-layout/flex.html
// 
//
// Styleguide 7.0.4

.l-flex {
  display: flex;
}

.l-flex-row {
  flex-direction: row;
}

.l-flex-column {
  flex-direction: column;
}

.l-flex-ai-center {
  align-items: center;
}

.l-flex-jc-center {
  justify-content: center;
}

.l-flex-jc-space {
  justify-content: space-between;
}
