// Position (l-pos-<setting>)
//
// Helpers for quickly setting `position`, `z-index`, and `top`. {{isHelper}}
//
// .l-pos-rel - `position: relative`
// .l-pos-abs - `position: absolute`; Set _`.l-pos-rel`_ on the parent to place within a defined space.
// .l-pos-sticky - `position: sticky`; Read more in [`CSS tricks`](https://css-tricks.com/position-sticky-2/)
// .l-pos-top - `top: 0`
// .l-pos-front - `z-index: 1`
//
// Markup: 7-layout/position.html
//
//
// Styleguide 7.0.5
.l-pos-rel {
  position: relative;
}

.l-pos-abs {
  position: absolute;
}

.l-pos-sticky {
  position: sticky;
  z-index: 2;
}

.l-pos-top {
  top: 0;
}

.l-pos-front {
  z-index: 1;
}