<div style="border:2px solid black; width: 200px; height: 100px; position: relative; {% if className == 'l-align-center-self' or className == 'l-align-end-self' %}display: flex{% endif %}" {% if className == 'l-align-center-children' %}class="{{className}}"{% endif %}>
  <div style="width: 50%;" class="has-padding has-bg-yellow {{className}}">Example</div>
</div>
{% if className == 'l-align-center-self' or className == 'l-align-end-self'  %}Parent is display: flex{% endif %}
{% if className == 'l-align-center-y' %}Parent is position: relative{% endif %}