<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Queso UI</title>
  <meta name="description" content="This is a preview of {{ title }}">
  <link rel="stylesheet" type="text/css" href="{{ '/css/all.css' | url }}">
</head>
<body style="padding-bottom: 10px;">
  <div style="display: none">{% include "../../dist/sprites/base.html" %}</div>
  {{ content | safe }}
  <script src="https://unpkg.com/@newswire/frames@0.3.1/dist/index.umd.js" integrity="sha384-isau2pnQExWS/gTKRKe2A5UVVaK/luFev6YGFQuF55khkHa407BSq3Nh18Zev23K" crossorigin="anonymous"></script>
  <script>
    window.newswireFrames.initFrame();
  </script>
</body>
</html>