// Byline (t-byline)
//
// Used for attribution of content. Does not include size, which in theory varies by context.
//
// Markup: <span class="t-byline"><span class="byline__item">By Bob Buttons</span></span>
//
//
// Styleguide 5.3.5
//
.t-byline {
  letter-spacing: $font-letter-spacing-lg;
  margin: $size-b/2 0 0;
  text-transform: uppercase;

  &__item {
    display: inline-block;
    padding-right: $size-b;
  }
}