// Links (t-links)
//
// Apply this to a parent to have descendant a tags inherit the respective link style. {{isHelper}}
//
// .t-links - Typical teal links
// .t-links-underlined - Typical blue underlined links
// .t-links-underlined-hover - Underline only appears on hover
//
// Markup: <p class="{{ className }}">Block of text in a paragraph. <a href="#">This is what links with a parent of {{ className }} look like.</a> <a class="t-unlink">This sentence is link too, but it's using the "t-unlink" class, which will override default link style and look like regular text.</a></p>
//
// Styleguide 5.2.8
//
.t-links {
  a:not(.t-unlink) {
    color: $color-teal-gray;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  // These are just helpers; not BEM modifiers
  // Underlined links don't need any properties from default links
  &-underlined {
    @include underlined-link-parent;
  }

  &-underlined-hover {
    @include underlined-link-parent('true');
  }

}


// Non-links (t-unlink)
//
// Force a link to look like regular text.
//
// Markup: <p class="t-links">The unlink class removes default link styles. <a>This is a regular link</a> and <a class="t-unlink">this is a link with the t-unlink class.</a></p>
//
// Styleguide 5.2.8
//
.t-unlink {
  border: none;
  box-shadow: none;

  &:hover,
  &:active {
    border: 0;
    text-decoration: none;
  }
}