// Links (t-<link-style>)
//
// Apply this to a parent to have descendant a tags inherit the respective link style. {{isHelper}}
//
// .t-links - Typical teal links
// .t-links-underlined - Typical blue underlined links
// .t-links-underlined-hover - Underline only appears on hover
// .t-links-underlined-hover-thin - Smaller, browser-default underline on hover
// .t-links-unset - This is applied **directly to the `<a>` tag**. Use it in cases where you don't want to inherit link styles.
//
// Markup: <p class="{{ className }}">Block of text in a paragraph. <a href="https://www.texastribune.org/">Example of {{ className }}.</a></p>
//
// Styleguide 5.2.8
//
.t-links {
  a:not(.t-links-unset) {
    color: $color-teal-gray;
    font-weight: bold;
  }
  @media (hover: hover) {
    a:hover {
      text-decoration: underline;
    }
  }

  a:active {
    opacity: .6;
    text-decoration: underline;
  }

  // These are just helpers; not BEM modifiers
  // Underlined links don't need any properties from default links
  &-underlined {
    @include underlined-link-parent;
  }

  &-underlined-hover {
    @include underlined-link-parent('true');
  }

  &-underlined-hover-thin {
    @media (hover: hover) {
      a:hover {
        text-decoration: underline;
      }
    }

    a:active {
      opacity: .6;
      text-decoration: underline;
    }
  }
}