// Text font (t-font-variant)
//
// Experimental: Uses new mixin and naming convention
//
// .t-serif - Default serif
// .t-sans - Default sans
//
// Markup: <h4 class="{{ className }}">Change inherit font family</h4>
//
//
// Styleguide 5.2.2
.t-serif {
  @include font-setting('secondary');
}

.t-sans {
  @include font-setting;
}

// Text Case (t-case)
//
// Experimental: Adds new naming convention {{isHelper}}
//
// .t-titlecase - Text transformed to Title Case
// .t-uppercase - Text transformed to UPPERCASE
// .t-uppercase--wide - To be used with UPPERCASE to add kerning
// .t-uppercase--extra-wide - To be used with UPPERCASE to add more kerning
//
// Markup: <p class="{{ className }}">Text transform helper.</p>
//
//
// Styleguide 5.2.5
.t-titlecase {
  text-transform: capitalize;
}

.t-uppercase {
  text-transform: uppercase;

  &--wide {
    letter-spacing: $font-letter-spacing;
  }

  &--extra-wide {
    letter-spacing: $font-letter-spacing-lg;
  }
}

// Text Alignment (t-alignment)
//
// Experimental: Adds new naming convention {{isHelper}}
//
// .t-align-left - Left aligned
// .t-align-center - Center aligned
// .t-align-right - Right aligned
//
// Markup: <p class="{{ className }}">Example</p>
//
//
// Styleguide 5.2.7

.t-align-left {
  text-align: left;
}

.t-align-center {
  text-align: center;
}

.t-align-right {
  text-align: right;
}


// Text line-height (t-space-type)
//
// Experimental: New utility to help eliminate repitition. {{isHelper}}
//
// t-space-nospace - Tight leading | line-height: 1
// t-space-heading-s - More spaced out | line-height: 1.25
// t-space-heading-m - More spaced out | line-height: 1.5
// t-space-heading-l - Even more | line-height: 2
//
// Markup: <p style="height: 100px" class="{{ className }} t-headline t-l">Texas again mistakenly flags voters for citizenship reviews</p>
//
//
// Styleguide 5.2.7
//
$line-height-type: (
  nospace: 1,
  heading-s: 1.25,
  heading-m: 1.5,
  heading-l: 2,
);

@each $type-set, $line-height in $line-height-type {
  .t-space-#{$type-set} {
    line-height: $line-height;
  }
}

// Links (t-linkstyle)
//
// Experimental: Although we can now use the mixin underlined-link to style links, we still need a helper class at times to apply it. NOTE: Apply this to a parent to have descendant a tags inherit the respective link style.
//
// .t-linkstyle--blue - Blue instead of default teal.
// .t-linkstyle--underlined - Give our underlined look to all links.
// .t-linkstyle--underlined-subtle - Give our underlined look to all links ONLY ON HOVER.
//
// Markup: <p class="t-linkstyle {{ className }}">In V2, we still apply link classes to a parent block. <a>This is a regular link in that block ipsum. <a class="t-unlink">This is link using the "t-unlink" class, which is used to override default link style and look like regular text.</a></p>
//
// Styleguide 5.2.8
//
.t-linkstyle {
  a:not(.t-unlink) {
    color: $color-teal-gray;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  &--blue {
    a:not(.t-unlink) {
      color: $color-blue-dark;
    }
  }

  &--underlined {
    @include underlined-link-parent;
  }

  &--underlined-subtle {
    @include underlined-link-parent('true');
  }
}

// Non-links (t-unlink)
//
// Experimental: Force a link to look like regular text.
//
// Markup: <p class="t-linkstyle">The unlink class removes default link styles. <a>This is a regular link</a> and <a class="t-unlink">this is a link with the t-unlink class.</a></p>
//
// Styleguide 5.2.8
//
.t-unlink {
  border: none;
  box-shadow: none;

  &:hover,
  &:active {
    border: 0;
    text-decoration: none;
  }
}

// Prose (t-prose)
//
// Experimental: V2 of prose relies on <code>font-setting</code> and <code>underlined-link-parent</code> mixins
//
// Markup: <div class="t-prose"><p>Lorem ipsum. <a>Link text</a></p></div>
//
//
// Styleguide 5.2.9
.t-prose {
  p {
    @include font-setting('secondary');
    @include underlined-link-parent;
    color: $color-black-off;
    line-height: 1.4;
    margin: $size-b 0;

    &:first-of-type {
      margin: 0 0 $size-b;
    }
  }
}

// Headline (t-headline)
//
// Experimental: New naming convention and mixin method.
//
// Headlines are typically &lt;h1&gt; elements, but you can apply the styles to any header element to size appropriately. Linked headlines will be given a teal underline style on hover.
//
// Markup: <h1 class="t-headline">Story headline text <a>with link.</a></h1>
//
//
// Styleguide 5.3.1
.t-headline {
  @include font-setting('secondary');
  @include underlined-link-parent('true');
  color: $color-black-off;
  font-weight: 700;
}

// Sectionhead (t-sectionhead)
//
// Experimental: New naming convention and mixin method. Ditches explicit <a> tag rule and case assignment. Also inherits body font instead of setting.
//
// Markup: <h3 class="t-sectionhead t-uppercase">Title for a section of text with <a>link.</a></h3>
//
//
// Styleguide 5.3.2
.t-sectionhead {
  border-bottom: 2px solid $color-gray-medium;
  font-weight: 700;
  letter-spacing: $font-letter-spacing;
  padding-bottom: $size-b/4;
}

// Widgethead (t-widgethead)
//
// Experimental: New naming convention and mixin method. Ditches modifier classes.
//
// .has-bg-black-off.has-text-white - BG of black with white text
// .has-bg-yellow - BG of yellow
// .has-bg-blue - BG of blue
//
// Markup: <h3 class="t-widgethead t-uppercase {{ className }}">Widgetheads can be coupled with the has-bg-color classes.</h3>
//
//
// Styleguide 5.3.3
.t-widgethead {
  background-color: $color-white-off;
  letter-spacing: $font-letter-spacing;
  padding: $size-b/2 $size-b;
}

// Smallcaps (t-smallcaps)
//
// Experimental: V2 of smallcaps more reliant on helper classes and a more DRY approach.
//
// Currently, this is used to style mini-headers, "read more" links, button text and bylines.
//
// .t-smallcaps--light - Applies a lighter font weight and bumps down font-size
// .t-smallcaps--section - Applies bottom margin and bumps down font-size
// .t-smallcaps--bordered - Applies a top border
//
// Markup: <span class="t-smallcaps {{ className }}">Lorem ipsum</span>
//
//
// Styleguide 5.3.4
.t-smallcaps {
  font-weight: 700;
  letter-spacing: $font-letter-spacing;
  padding: 0.2em 0;
  text-transform: uppercase;

  // Byline
  &--light {
    font-size: $size-xs;
    font-weight: 400;
    letter-spacing: $font-letter-spacing-lg;

    @include mq($until: bp-l) {
      font-size: $size-s;
    }
  }

  &--section {
    font-size: $size-s;
    margin-bottom: $size-b/4;
  }

  &--bordered {
    border-top: 2px solid $color-black-off;
  }
}

// Byline (t-byline)
//
// Experimental: Drop extend of smallcaps
//
// Markup: <span class="t-byline"><span class="byline__item">By Bob Buttons</span></span>
//
//
// Styleguide 5.3.5
//
.t-byline {
  letter-spacing: $font-letter-spacing-lg;
  margin: $size-b/2 0 0;
  text-transform: uppercase;

  &__item {
    display: inline-block;
    padding-right: $size-b;
  }
}

// Description (t-description)
//
// Experimental: Removes extends and setting of inner p tags links and font.
//
// Markup: <span class="t-description">Description<p>with a paragraph</p></span>
//
//
// Styleguide 5.3.6
.t-description {
  @include underlined-link-parent();
  color: $color-gray-medium;
  font-size: $size-s;

  p {
    font-size: $size-xs;
  }
}

// Subtext (REMOVED)
//
// Experimental: Remove subtext in favor of helper classes
//
// Markup: <span class="has-text-gray">Lorem ipsum <a>Link</a></span>
//
//
// Styleguide 5.3.7

// Story Quote (REMOVED)
//
// Experimental: Remove this completely and no need for helper class substitutes.
//
//
// Styleguide 5.3.8

// Headline List (REMOVED)
//
// Experimental: This is more like a component with typographical elements sprinkled in. Proof of concept with helper classes in preview.
//
//
// Markup: 5-typography/headline_list-v2.html
//
// Styleguide 5.3.9

// Highlight (t-highlight)
//
// Experimental: Use background-color helper classes  instead and add 2 rules for padding and display.
//
// These link helpers are used on parent classes to set subsequent link styles.
//
//
// Markup: <p class="has-bg-yellow t-highlight">Highlighted text</p>
//
// Styleguide 5.4.1
.t-highlight {
  display: inline-block;
  padding: 0 $size-xs;
}

// Word break (t-wrap)
//
// Helper classes for handling how words are allowed to wrap and break. {{isHelper}}
// 
// .t-wrap-break - Allow a word to wrap to the next line mid-word
//
// Markup: <p class="t-wrap-break" style="width: 150px;">barbara.gervin.hawkins@house.texas.gov</p>
//
//
// Styleguide 5.3.6
.t-wrap-break {
  word-break: break-all;
}
