// Icon (c-icon)
//
// SVG icon class. Icons will take the size of parent font-size. Default fill is yellow with a helper for white, teal, and gray icons.
//
// .c-icon--yellow - Forces a yellow fill. Can likely be replaced for color helper.
// .c-icon--baseline - Forces a the vertical alignment to the baseline of the font.
//
// Markup: 6-components/icon/icon.html
//
// Styleguide 6.1.2
.c-icon {
  display: inline-flex;
  
  svg {
    fill: currentColor;
    height: 1.1em;
    width: 1.1em;
  }

  &--baseline {
    svg {
      position: relative;
      top: .15em;
    }
  }

  // Eventually phase out
  &--yellow {
    svg {
      fill: $color-yellow-tribune;
    }
  }

}
