// Icon (c-icon)
//
// SVG icon class. Icons will take the size of parent font-size. Default fill is yellow with a helper for white, teal, and gray icons.
//
// .c-icon__svg--yellow - Forces a yellow fill. Can likely be replaced for color helper.
// .c-icon__svg--baseline - Forces a yellow fill. Can likely be replaced for color helper.
//
// Markup: 6-components/icon/icon.html
//
// Styleguide 6.1.2
.c-icon {
  display: inline-flex;
  align-self: center;

  svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
  }

  &__svg {
    &--baseline {
      position: relative;
      top: 0.125em;
    }

    &--yellow {
      fill: $color-yellow-tribune;
    }

  }
}
