// Icon (c-icon)
//
// SVG icon class. There are helper variations for sizes. Default fill is yellow with a helper for white, teal, and gray icons.
//
// .c-icon--xs - XS
// .c-icon--m - M (actually uses <code>$size-b</code>)
// .c-icon--l - L
// .c-icon--xl - XL
// .c-icon--xxl - XXL
// .c-icon--white - Inverse
// .c-icon--gray - Gray (dark)
// .c-icon--teal - Teal
//
// Markup: 6-components/icon/icon.html
//
// Styleguide 6.1.2
.c-icon {
  width: $size-s;
  height: $size-s;
  fill: $color-yellow-tribune;
  overflow: visible;
  
  &--m {
    width: $size-b;
    height: $size-b;
  }

  &--xs {
    width: $size-xs;
    height: $size-xs;
  }

  &--l {
    width: $size-l;
    height: $size-l;
  }

  &--xl {
    width: $size-xl;
    height: $size-xl;
  }

  &--xxl {
    width: $size-xxl;
    height: $size-xxl;
  }

  &--white {
    fill: $color-white-pure;
  }

  &--gray {
    fill: $color-gray-dark;
  }

  &--teal {
    fill: $color-teal-gray ;
  }
  
}