// Block feed (c-block-feed)
//
// Feed of posts with bordered separators. The variations for this are on the item borders. **This would be a great use case for container queries.** {{isWide}}
//
// .c-block-feed__item--no-border-from-bp-m - Removes borders after `bp-m` The homepage does this.
//
//
// Markup: 6-components/block-feed/block-feed.html
//
// Styleguide 6.1.3
.c-block-feed {
  &__item {
    margin-bottom: $size-b;
    padding-bottom: $size-b;
    border-bottom: 1px solid $color-gray-light;

    &--no-border-from-bp-m {
      @include mq($from: bp-m) {
        border-bottom-width: 0;
      }
    }
  }
}
