// Back to top (c-back-to-top)
//
// This is a weird one because it is opinionated on position. It could also be converted to a more global style, but for now we're keeping it specific to this one use. This also depends on a JS helper. NOTE: The trick is to place this class outside of your button since position: sticky works best on direct children of a body tag.
//
//
// Markup: 6-components/back-to-top/back-to-top.html
//
// Styleguide 6.1.3
.c-back-to-top {
  bottom: $size-s;
  left: 100%;
  opacity: 1;
  padding-right: $size-s;
  position: sticky;
  transition: opacity .3s;
}


.c-back-to-top-viewport {
  height: 200vh;
  left: 0;
  top: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1
}