// Back to top (c-back-to-top)
//
// This component is is opinionated on position. There is an optional `c-back-to-top-viewport` class, which is used to conditionally show back-to-top when the viewport is scrolled for a bit. That feature requires some [extra JS](https://github.com/texastribune/texastribune/blob/master/snollygoster/common/js/modules/entry-utils/ui/index.js#L18-L34). <h4>Note:</h4><ol><li>Place this class outside of your back to top button because `position: sticky` works best on direct children of body.</li><li>To use `position: sticky` on Safari, you need a block-level element.</li></ol>
//
//
// Markup: 6-components/back-to-top/back-to-top.html
//
// Styleguide 6.1.3
.c-back-to-top {
  bottom: $size-s;
  left: 100%;
  opacity: 1;
  padding-right: $size-s;
  pointer-events: none;
  position: sticky;
  transition: opacity .3s;
  // Safari won't allow inline-block; we need a width for positioning.
  // If this grows in the future, consider making this a variation.
  width: 4rem;

  &__inner {
    pointer-events: all;
  }
}


.c-back-to-top-viewport {
  height: 200vh;
  left: 0;
  top: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1
}