$loader-bar-height: 10px;

// Full-page loader (c-full-page-loader)
//
// For putting a translucent overlay over the entire page. Can contain nested items (including .c-loading), probably with absolute positioning.
//
// Styleguide 6.1.1
.c-full-page-loader {
  background-color: rgba(247, 247, 247, 0.9);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  // normally this is terrible, but we can say with
  // confidence this component should always be on top
  z-index: 9999;
}