$loader-bar-height: 10px;

.c-full-page-loader {
  background-color: rgba(255,255,255,.95);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &__bar {
    background-color: $color-white-off;
    height: $loader-bar-height;
    overflow: hidden;
    position: relative;
    width: 100%;
    
    &:before {
      animation: loading-bar 2s linear infinite;
      background-color: $color-yellow-tribune;
      content: '';
      display: block;
      height: $loader-bar-height;
      left: -200px;
      position: absolute;
      width: 200px;
    }
  }
}

@keyframes loading-bar {
  from { left: -200px; width: 30%; }
  50% { width: 30%; }
  70% { width: 70%; }
  80% { left: 50%; }
  95% { left: 120%; }
  to { left: 100%; }
}