// Tabs (c-tabs)
//
// Tabs based on a [w3 example](https://www.w3.org/TR/wai-aria-practices-1.1/examples/tabs/tabs-1/tabs.html). The JS in the example uses [w3's script](https://www.w3.org/TR/wai-aria-practices-1.1/examples/tabs/tabs-1/js/tabs.js), but state change implementation will vary by environment.
//
// Markup: 6-components/tabs/tabs.html
//
// Styleguide 6.1.3
.c-tabs {
  &__list {
    align-items: flex-end;
    border-bottom: 1px solid $color-gray-light;
    display: flex;
    flex-wrap: nowrap;
  }

  &__tab {
    padding-bottom: $size-xs;
    &--active {
      &:after {
        content: '';
        height: 3px;
        width: 100%;
        left: 0;
        bottom: -2px;
        position: absolute;
        background-color: $color-teal-gray;
      }
    }
    // prevent outline on mouse click
    &:focus {
      outline: inherit solid 2px;
    }
    &:not(:focus-visible) {
      outline: none;
    }
    &:focus-visible {
      outline: inherit solid 2px;
    }
  }
}
