.ds-header {
  &__link {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
}

.ds-stick-it {
  position: sticky;
  top: 0;
  z-index: 3;
}

.ds-breathe {
  padding: 1rem;
}

.ds-breathe-m {
  margin: 1rem;
  display: block;
}

.ds-breathe-vert {
  padding: 1rem 0;
}

.ds-desc {
  a {
    text-decoration: underline;
    font-weight: bold;
  }

  p {
    margin-bottom: 1rem;
  }

  ol,
  ul {
    margin: .5rem;
    padding-left: 2rem;
    font-size: medium;
    list-style: disc;

    li {
      margin-bottom: .5rem;
    }
  }
}


.ds-menu {
  overflow: scroll;
  height: 75vh;
}

.ds-menu__child {
  padding-left: 1rem;
}

.ds-wide {
  width: 100%;
}

.ds-spacer {
  padding-bottom: 5rem;
  position: relative;
}

.ds-anchor {
  position: absolute;
}


.ds-grid-example div[class^='col'] {
  border: 1px solid #ccc;
  text-align: center;
}

.ds-hide-sidebar .ds-main {
  width: 100%;
}

.ds-hide-sidebar .ds-sidebar {
  display: none;
}

.ds-hide-sidebar .card-content,
.ds-hide-sidebar .section {
  padding-left: 0;
  padding-right: 0;
}

.ds-util {
  right: 0;
  position: fixed;
  top: 0;
  z-index: 5;
  max-width: 220px;
}

.ds-grid-lines {
  background-size: 1rem 1rem;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px),
    linear-gradient(to bottom, #eee 1px, transparent 1px);
  padding: 1rem;

  .ds-hide-grid & {
    border: none;
    background: none;
  }
}

.ds-multicols {
  @media screen and (min-width: 768px) {
    column-count: 3;
  }
}

.ds-multicol {
  page-break-inside: avoid;
  break-inside: avoid-column;
}


.ds-icon {
  fill: #fff;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);

  &--dark {
    fill: #242424;
  }
}

/* Bulma overrides */
a,
strong {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.card-header {
  position: relative;
}

.resize-drag {
  border: 2px dashed #ccc;
  border-radius: 8px;
  touch-action: none;
  width: 80%;
  margin: 2em;
  box-sizing: border-box;
}

.resize-container {
  display: inline-block;
  width: 100%;
  height: 95vh;
}


.ds-legacy,
.ds-version-tag,
.ds-version-toggle + span {
  display: none;
}

.js-ds-show-legacy .ds-legacy,
.js-ds-show-legacy .ds-version-toggle + span {
  display: block;
}

.js-ds-show-legacy .ds-version-toggle {
  display: none;
}

.js-ds-show-legacy .ds-version-tag {
  display: inline-block;
}

// Hide arrow for HTML code snippet
::-webkit-details-marker {
  display: none;
}

.ds-dropdown {
  position: relative;

  &__items {
    position: absolute;
    z-index: 2;
  }

}

.ds-half-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ds-mini-swatch {
  height: 25px;
  margin-bottom: 1rem;
  position: relative;
  width: 25px;

  &:before,
  &:after {
    content: '';
    background-color: currentColor;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.1);
    left: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &:before {
    background-color: #fff;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
}