// CTA block (c-cta-block)
//
// Call to action with messaging and buttons. The window size determines the layout. **This would be a great use case for container queries.**
//
//
// Markup: 6-components/cta-block/cta-block.html
//
// Styleguide 6.0.1

$cta-block-min-col: px-to-rem(130px);
$cta-block-btn-height: px-to-rem(29px);

.c-cta-block {
  border: 1px solid $color-gray-light;
  border-radius: $border-radius-b;

  &--no-border {
    border-width: 0;
    border-radius: 0;
  }

  &__btns {
    @include gap($size-xxs);
    display: grid;
    grid-auto-rows: $cta-block-btn-height;
    margin-top: $cta-block-btn-height;

    &--4 {
      grid-template-columns: repeat(4, 1fr);

      &-stack-from-m {
        grid-template-columns: repeat(4, 1fr);
        @include mq($from: bp-m) {
          grid-template-columns: repeat(2, 1fr);
          margin-top: 0;
        }
      }
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr);

      &-stack-from-m {
        grid-template-columns: repeat(2, 1fr);
        @include mq($from: bp-m) {
          grid-template-columns: 1fr;
          margin-top: 0;
        }
      }
    }
  }

  @include mq($from: bp-m) {
    &--horiz-from-m {
      @include gap($size-l);
      align-items: center;
      display: grid;
      grid-template-columns: 1fr $cta-block-min-col;
    }
  }
}
