// Story block (c-story-block)
//
// Story blocks are card-like components. These blocks generally contain a story's thumbnail and metadata. By default the columns are 30/70. {{isWide}}
//
// .c-story-block--featured - Larger thumbnail photo. Columns are 50/50.
// .c-story-block--stack-from-bp-m - Narrow block at `bp-m`
// .c-story-block--stack-from-bp-l - Narrow block at `bp-l`
//
//
// Markup: 6-components/story-block/story-block.html
//
// Styleguide 6.1.3
.c-story-block {
  @include gap;
  display: grid;
  grid-template-columns: 5fr 7fr;

  &--featured {
    grid-template-columns: 1fr;
  }

  &__headline {
    font-size: $size-m;
  }

  @include mq($from: bp-m) {
    &--stack-from-bp-m {
      @include gap($size-xxs);
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
    }

    &--featured {
      grid-template-columns: 1fr 1fr;
    }

    &__headline {
      font-size: $size-l;
    }
  }
  @include mq($from: bp-l) {
    &--stack-from-bp-l {
      @include gap($size-xxs);
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
    }
  }
}
