// all-legacy.css
//
// Deprecated: We (minimally) documented our legacy styles. Moving forward, we won't use this file; it's only for reference. <div><code>@import "ds-toolbox-test/assets/scss/1-settings/all-legacy"</code></div>
//
//
// Styleguide 0.0.1
@import '1-settings/all';
@import '2-tools/all';
@import '3-resets/all-legacy';
@import '4-elements/all-legacy';
@import '5-typography/all-legacy';
@import '7-utilities/all-legacy';