// Swatch set - Branding
//
// Colors specific to our brand.
//
// Colors:
// $color-yellow-tribune: #ffc200 - Primary branding
// $color-blue-light: #a1d2df - Blue Light
// $color-blue-dark: #223136 - Used for the blast
// $color-teal-gray: #348094 - Teal Gray
// $color-red: #ff6047 - Red
// $color-sand: #f2ede2 - Sand
//
// Styleguide 1.1.1
//
$color-yellow-tribune: #ffc200;
$color-blue-light: #a1d2df;
$color-blue-dark: #223136;
$color-teal-gray: #348094;
$color-red: #ff6047;
$color-sand: #f2ede2;

// Swatch set - Grays
//
// In search of that perfect gray.
//
// Colors:
// $color-white-pure: #fff - White
// $color-white-off: #f3f3f3 - Kinda white
// $color-gray-light: #d0d0d0 - Gray light
// $color-gray-medium: #797979 - A little bit darker now
// $color-gray-dark: #4a4a4a - A little bit darker now
// $color-black-off: #222 - A little bit darker now
// $color-black-pure: #000 - True black
//
// Styleguide 1.1.2
//
$color-white-pure: #fff;
$color-white-off: #f3f3f3;
$color-gray-light: #d0d0d0;
$color-gray-medium: #797979;
$color-gray-dark: #4a4a4a;
$color-black-off: #222;
$color-black-pure: #000;

// Swatch set - Social
//
// Used for social sites branding consistency.
//
// Colors:
// $color-facebook: #2d60c4 - Facebook
// $color-twitter: #55acee - Twitter
//
// Styleguide 1.1.3
//
$color-facebook: #2d60c4;
$color-twitter: #55acee;

// Swatch set - States and promos
//
// These are special variables assigned to specific elements and states.
//
// Colors:
// $color-link-underline: $color-blue-light - Link Underline
// $color-error: #f51c1c - Error
// $color-success: #11A06B - Success
// $color-fmd-blue-dark: #323a44 - Fall membership drive 1
// $color-fmd-blue-light: #6c99c1 - Fall membership drive 2
// $color-sponsor: #3366cc - Sponsored content signifier
//
// Styleguide 1.1.4
//
$color-link-underline: $color-blue-light;
$color-error: #f51c1c;
$color-success: #11A06B;
$color-fmd-blue-dark: #323a44;
$color-fmd-blue-light: #6c99c1;
$color-sponsor: #3366cc;