// Core
//
// Colors specific to our brand.
//
// Colors:
// $color-yellow-tribune: #ffc200 - Primary branding
// $color-blue-light: #a1d2df - Blue Light
// $color-teal-gray: #348094 - Teal Gray
// $color-black-off: #222 - A little bit darker now
// $color-white-off: #f3f3f3 - Off-white
//
//
// Styleguide 1.1.1
//
$color-yellow-tribune: #ffc200;
$color-blue-light: #a1d2df;
$color-teal-gray: #348094;
// $color-black-off and $color-white-off are below

// Grayscale
//
// In search of that perfect gray.
//
// Colors:
// $color-white-pure: #fff - White
// $color-white-off-light: #fbfbfb - Off-white (light)
// $color-white-off: #f3f3f3 - Off-white
// $color-gray-light: #d0d0d0 - Gray light
// $color-gray-medium: #797979 - A little bit darker now
// $color-gray-dark: #4a4a4a - A little bit darker now
// $color-black-off: #222 - A little bit darker now
// $color-black-pure: #000 - True black
//
//
// Styleguide 1.1.2
//
$color-white-pure: #fff;
$color-white-off-light: #fbfbfb;
$color-white-off: #f3f3f3;
$color-gray-light: #d0d0d0;
$color-gray-medium: #797979;
$color-gray-dark: #4a4a4a;
$color-black-off: #222;
$color-black-pure: #000;


// Site elements
//
// These are special variables assigned to specific elements and states.
//
// Colors:
// $color-link-underline: #a1d2df - Link underline color
// $color-link-underline-hover: #348094 - Link underline color on hover
// $color-ad-text: #347d90 - Darkened version of `$color-teal-dark` helpful for contrast
// $color-error: #e12931 - Error
// $color-success: #11A06B - Success
//
//
// Styleguide 1.1.4
//
$color-link-underline: #a1d2df;
$color-link-underline-hover: #348094;
$color-ad-text: #347d90;
$color-red: #e12931;
$color-error: $color-red;
$color-success: #11A06B;


// Social and promos
//
// These are special variables assigned to specific elements and states.
//
// Colors:
// $color-sponsor: #3366cc - Sponsored content signifier
// $color-facebook: #2d60c4 - Facebook
// $color-twitter: #55acee - Twitter
// $color-blue-dark: #223136 - Used for the blast
// $color-sand: #f2ede2 - Sand
//
//
// Styleguide 1.1.4
//
$color-facebook: #2d60c4;
$color-twitter: #55acee;
$color-sponsor: #3366cc;
$color-blue-dark: #223136;
$color-blue-dark: #223136;
$color-fmd-blue-dark: #323a44;
$color-fmd-blue-light: #6c99c1;
$color-sand: #f2ede2;
