// sass-mq settings
$mq-responsive: true;


// Breakpoints
//
// We import the sass-mq library for our responsive utilities. Our own custom breakpoints are as follows:
//
// $bp-xs = 320px - Mobile
// $bp-s = 520px - Mobile
// $bp-m = 650px - Tablet
// $bp-l = 845px - Small Desktop
// $bp-xl = 1080px - Desktop
// $bp-xxl = 1300px - Large Desktop
//
// Styleguide 1.3.1
$bp-xs: 320px;
$bp-s: 520px;
$bp-m: 650px;
$bp-l: 845px;
$bp-xl: 1080px;
$bp-xxl: 1300px;

$bp-default: 960px;

$mq-breakpoints: (
  bp-xs: $bp-xs,
  bp-s: $bp-s,
  bp-m: $bp-m,
  bp-l: $bp-l,
  bp-xl: $bp-xl,
  bp-xxl: $bp-xxl,
  bp-default: $bp-default
);

// Story Containers
//
// Specific containers for editorial content.
//
// $story-small = 30rem - ~480px This is our smallest story container; used for plugins
// $story-narrow = 41.5rem - ~664px This is the text story container; used for text and plugins
// $story-giant = 60rem - ~960px This is our widest story container; used for plugins
//
// Styleguide 1.3.1
$story-small: 30rem;
$story-narrow: 41.5rem;
$story-giant: 60rem;

// Size units
//
// Sizes in comparison to base pixel root
//
// $size-xxxl = 3rem - size xxxl
// $size-giant = 2.5rem - size giant
// $size-xxl = 2rem - size xxl
// $size-xl = 1.75rem - size xl
// $size-l = 1.5rem - size l
// $size-m = 1.2rem - size m
// $size-b = 1.1rem - size b
// $size-s = .92rem - size s
// $size-xs = .85rem - size xs
// $size-xxs = .7rem - size xxs
// $size-xxxs = .55rem - size xxxs
// $size-tiny = .275rem - size tiny (only used for margin)
//
//
// Styleguide 1.3.3
//
//
$size-xxxl: 3rem;
$size-giant: 2.5rem;
$size-xxl: 2rem;
$size-xl: 1.75rem;
$size-l: 1.5rem;
$size-m: 1.2rem;
$size-b: 1.1rem;
$size-s: .92rem;
$size-xs: .85rem;
$size-xxs: .7rem;
$size-xxxs: .55rem;
$size-tiny: $size-b / 4;

// Map of all sizes for easy iteration
$size-map: (
  xxxl: $size-xxxl,
  giant: $size-giant,
  xxl: $size-xxl,
  xl: $size-xl,
  l: $size-l,
  m: $size-m,
  b: $size-b,
  s: $size-s,
  xs: $size-xs,
  xxs: $size-xxs,
  xxxs: $size-xxxs,
);

// Margin map
$tiny-map: (tiny: $size-tiny);
$margin-map: map-merge($size-map, $tiny-map);


// Border Radius
//
// Occasionally we use a border-radius for buttons and borders.
//
// $border-radius-b = 4px - Subtle radius
// $border-radius-l = 40px - Very round, usually used on buttons relating to monetary values.
//
// Styleguide 1.3.1
$border-radius-b: 4px;
$border-radius-l: 40px;


// Utility height
//
// We often use navbar and forms with a static height. Declare this variable for consistency across platforms.
//
// $util-height = 45px - Standard height of navbar and forms
//
// Styleguide 1.3.1
$util-height: 45px;
