// Checkbox (c-checkbox)
//
// A good old-fashioned checkbox with light styling for alignment.
//
// Markup: 6-components/checkbox/checkbox.html
//
// Styleguide 6.1.5
.c-checkbox {
  @include gap($size-xxxs);
  display: grid;
  grid-template-columns: auto 1fr;
  
  &__box {
    grid-column: 1;
    
    input {
      margin-top: 4px;
    }
  }

  &__label {
    grid-column: 2;
  }
}