// Sponsor Card (c-sponsor-card)
//
// This is a work in progress, but the idea is for this to be minimally reliant on media queries. We can't be certain exactly where this would appear. This should pretty fairly dynamic to any size of parent container.{{isWide}}
//
// Markup: 6-components/sponsor-card/sponsor-card.html
//
// Styleguide 6.1.3
$c-sponsor-card-padding: $size-s;
$c-sponsor-card-min: 300px;

.c-sponsor-card {
  border-top: 5px solid $color-sponsor;
  display: grid;
  grid-gap: $c-sponsor-card-padding;
  grid-template-columns: repeat(auto-fit, minmax($c-sponsor-card-min, auto));
  padding: ($c-sponsor-card-padding * 3) $c-sponsor-card-padding
    $c-sponsor-card-padding;
  position: relative;
  direction: rtl;

  &__text,
  &__label {
    direction: ltr;
  }

  &__image {
    min-height: 100%;
    object-fit: cover;
  }

  &__label {
    left: $c-sponsor-card-padding;
    padding: 0;
    position: absolute;
    top: $c-sponsor-card-padding;
  }

  &__main {
    align-self: flex-start;
  }

  &__text {
    display: grid;
  }

  @include mq($from: bp-m) {
    padding-top: $c-sponsor-card-padding;

    &__label {
      position: static;
      align-self: start;
    }

    &__main {
      padding: 0 $c-sponsor-card-padding 0 $c-sponsor-card-padding * 2;
    }

  }
}
