// Site Footer (c-site-footer)
//
// The footer of our site. {{isWide}}
//
//
// Markup: 6-components/site-footer/site-footer.html
//
// Styleguide 6.1.3
.c-site-footer {
  padding: $size-xxl $size-xxl $size-giant $size-xxl;

  &__logo {
    font-size: 4rem;
  }

  &__header {
    letter-spacing: .08em;
  }

  &__links {
    // remove when part of base ul style
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
