---
layout: example-base.njk
pagination:
    data: docs.cssClasses
    size: 1
    alias: item
permalink: "example/{{ item.className | cleanSlug }}/"
---
{% block content %}
  {% if item.preview and not item.details.isHelper %}
    {{ item.preview | safe }}
  {% endif %}
{% endblock %}
