---
layout: example-base.njk
pagination:
    data: styles.modifiers
    size: 1
    alias: modifier
permalink: "modifier/{{ modifier.className }}/"
title: Preview modifier
---
{% block content %}
  {% if modifier.modifierSnippet %}
    {{ modifier.modifierSnippet | safe }}
  {% endif %}
{% endblock %}
