---
layout: example-base.njk
pagination:
    data: docs.modifierMap
    size: 1
    alias: modifier
permalink: "modifier/{{ modifier.className }}/"
title: Preview modifier
---
{% block content %}
  {% if modifier.preview %}
    {{ modifier.preview | safe }}
  {% endif %}
{% endblock %}
