---
layout: example-base.njk
pagination:
    data: styles.all
    size: 1
    alias: item
permalink: "example/{{ item.slug }}/"
title: Preview
---
{% block content %}
  {% if item.codeSnippet and not item.isHelper %}
    {{ item.codeSnippet | safe }}
  {% endif %}
{% endblock %}
