---
layout: base.njk
pagination:
    data: styles.nested
    size: 1
    alias: section
permalink: "sections/{{ section.slug }}/"
---
{% from "../macros/menu-item.njk" import menuItem %}
<div class="q-container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{{ '/' | url }}">Home</a></li>
      <li class="is-active"><a href="{{ page.url | url }}">{{ section.name }}</a></li>
    </ul>
  </nav>
  <h1 class="is-size-2 q-bottom-spacer">{{ section.name }}</h1>
  <div class="q-desc q-spacer">{{ section.description | safe }}</div>
  <ul class="l-multicol">
  {% for item in section.list %}
      <li class="q-bottom-spacer">{{ menuItem('sections/' + section.slug + '/' + item.slug, item.prettyName) }}</li>
  {% endfor %}
  </ul>
</div>