// Font Families
//
// Two font variables used throughout our CSS
//
// $font-family-primary = 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif - Main font applied to :root.
// $font-family-secondary = 'PT Serif', Georgia, serif - Accent font in our case used for editorial purposes.
// $font-family-primary-fallback = 'Helvetica Neue', Helvetica, Arial, sans-serif - This displays as the primary font before fonts load.
// $font-family-secondary-fallback = Georgia, serif - This displays as the secondary font before fonts load.
//
// Styleguide 1.2.1
$font-family-primary: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-secondary: 'PT Serif', Georgia, serif;
$font-family-primary-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-secondary-fallback: Georgia, serif;

// Font Sizings
//
// Font sizes used at :root
//
// $font-root = 16px - Desktop font root size
// $font-root-tablet = 16px - Tablet font root size
// $font-root-mobile = 15px - Mobile font root size
//
// Styleguide 1.2.2
$font-root: 16px;
$font-root-tablet: 16px;
$font-root-mobile: 15px;

// Silent class helpers
%font-serif {
  font-family: $font-family-primary;
}

%font-sansserif {
  font-family: $font-family-secondary;
}

// Letter Spacing
//
// Consistent letter-spacing value
//
// $font-letter-spacing = .03em - "Magic" letter spacing value
//
// Styleguide 1.2.3
$font-letter-spacing: .03em;
$font-letter-spacing-lg: .05em;
