html {
  font-size: $font-root;
  @include mq($until: bp-s) {
    font-size: $font-root-mobile;
  }
}

body {
  @include font-setting('primary');
  color: $color-black-off;
}

// Strip margin and padding from all headers a paragraphs
html,
body,
dd,
dl,
div,
dt,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// We want all of our cite elements to not be italicized
cite {
  font-style: normal;
}
