{% from "templates/color-swatch.html" import colorSwatch %}
{% from "templates/variable-swatch.html" import variableSwatch %}
{% from "templates/snippet.html" import snippet %}
{% from "templates/snippet-tool.html" import snippetTool %}
{% from "templates/snippet-table.html" import snippetTable %}
{% from "templates/title-bar.html" import titleBar %}
<!DOCTYPE html>
<html class="fonts-loaded" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet" />
  <link id="base" rel="stylesheet" href="base.min.css" />
  <link id="base-v2" rel="stylesheet" href="base-v2.min.css" />
  <link id="ds" rel="stylesheet" href="ds.min.css" />
</head>

<body class="fonts-loaded">
  {% include '../dist/base-sprite.svg' %}
  <div class="ds-util box buttons has-text-centered">
    <a href="index.html" class="button is-primary is-outlined is-fullwidth">< Back</a>
    <button class="button is-primary is-outlined is-fullwidth" id="sidebarToggle">Toggle Menu</button>
    <div class="ds-breathe">
      <span class="subtitle is-size-6">Toggle CSS</span>
      <div class="buttons has-addons ds-breathe is-centered">
        <button id="buttonLegacy" class="button is-warning">V1</button>
        <button id="buttonV2" class="button is-info">V2</button>
      </div>
      <div id="buttonToggle" class="is-size-7"></div>   
    </div>
  </div>
  <div class="grid_container--xl">
    <div id="content" class="tile is-ancestor ds-content">
      <div class="tile is-parent is-vertical is-3 ds-sidebar">
        <aside class="menu ds-stick-it">
          <p class="menu-label ds-breathe">
            {{ name }}
          </p>
          
          <ul class="menu-list ds-menu box has-background-light">
            {% for item in list %}
              {% if item.depth !== 1 %}
              <li class="has-text-weight-bold">
                <a class="" href="#{{ item.slug }}">
                {{ item.prettyName }}
                {% if item.experimental === true %}
                  <span class="tag is-info">V2</span>
                {% endif %}
                {% if item.deprecated === true %}
                  <span class="tag is-warning">Sunset</span>
                {% endif%}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="tile is-parent is-vertical is-9 ds-main">
        <main>
          {% for item in list %}
          {% set markup = item.markup %}
          {% set isFile = item.isFile %}
          {% set isWide = item.isWide %}
          {% set description = item.cleanDesc %}
          {% set descriptionTags = item.description %}
          {% set codeSnippet = item.codeSnippet %}
          {% set isTool = item.isTool %}
          {# <span class="ds-breathe"></span> #}
          {% if item.depth !== 1 %}
          <div class="section ds-spacer">
            <a class="ds-anchor" id="{{ item.slug }}"></a>
            {{ titleBar(item, github) }}
            <div class="ds-breathe-vert">
              <h2 class="title is-{{ item.depth }}">
              {{ item.prettyName }}
              {% if item.experimental %}
              <span class="tag is-info">V2</span>
              {% endif %}
              {% if item.deprecated %}
              <span class="tag is-warning">Sunset</span>
              {% endif %}
              </h2>
              <div class="subtitle ds-desc">
                {{ descriptionTags | safe }}
              </div>
              <div class="columns is-multiline">
                {% for color in item.colors %}
                <div class="column is-3">
                  {{ colorSwatch(color.name, color.color, color.description) }}
                </div>
                {% endfor %}
              </div>
            </div>
            {% if item.parameters | length %}
            <!-- Parameters used for SCSS Variables -->
            <table class="table">
              <tr>
                <th>
                  {% if isTool %}Parameter{% else %}Variable Name{% endif %}
                </th>
                <th>Default</th>
                <th>Description</th>
              </tr>
              {% for variable in item.parameters %}
              <tr>
                {{ variableSwatch(variable.name, variable.defaultValue, variable.description ) }}
              </tr>
              {% endfor %}
            </table>
            {% endif %}
            <!-- GitHub counts -->
            <div class="ds-breathe-vert">
            {% for repo in item.gitHubData %}
            
              <div class="dropdown">
                <div class="dropdown-trigger">
                  <button aria-controls="dropdown-menu" aria-haspopup="true" class="button">
                    Found in&nbsp;
                    <span class="tag is-warning">
                      <strong>
                        {{ repo.count }}</strong>
                    </span>
                    &nbsp;places in&nbsp;<strong>{{ repo.name }}</strong>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    {% for result in repo.results %}
                    <a class="dropdown-item" href="{{ result.link }}">
                      {{ result.file }}
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            
            {% endfor %}
            </div>
            {% if markup %}
            <div class="columns is-multiline">
              <div class="column is-full">
                {{ snippet(item.header, markup, '', isFile, description, codeSnippet, item.mainClass) }}
              </div>
              {% if (item.modifiers|length) and ( item.groupName === 'Typography' or item.groupName === 'Utility') %}
                <div class="column is-full">
                  {{ snippetTable(item.modifiers) }}
                </div>
              {% else %}
                {% for modifier in item.modifiers %}
                  <div class="column {% if isWide %}is-full{% else %}is-half{% endif %}">
                    {{ snippet(item.header, markup, modifier, isFile) }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
          <div class="section ds-spacer">
            <a class="ds-anchor" id="icons"></a>
            
            {% for iconSet in iconSets %}
              <h3 class="title is-3">{{iconSet.name}}</h3>
              <div class="columns is-multiline">
                {% set icons = iconSet.icons %}
                {% for icon in icons %}
                  <div class="column is-3">
                    <div class="card t-center">
                      <div class="section has-background-light">
                        <svg class="c-icon c-icon--xxl" aria-hidden="true" focusable="true">
                          <use xlink:href="#{{icon}}"></use>
                        </svg>
                      </div>
                      <div class="card-content">
                        <h4 class="subtitle is-4">{{icon}}</h4>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </section>
        </main>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>
          {{ name }}</strong>
        for
        <a href="https://www.texastribune.org/">The Texas Tribune</a>.
      </p>
    </div>
  </footer>
  <script src="ds.js"></script>
</body>

</html>