<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet" />
  <link id="base" rel="stylesheet" href="base.min.css" />
  <link id="base-v2" rel="stylesheet" href="base-v2.min.css" />
  <link id="ds" rel="stylesheet" href="ds.min.css" />
</head>
<body class="fonts-loaded">
  {% include '../dist/base-sprite.svg' %}
  {{markup | safe}}
</body>
</html>