{% from "templates/color-swatch.html" import colorSwatch %}
{% from "templates/variable-swatch.html" import variableSwatch %}
{% from "templates/snippet.html" import snippet %}
{% from "templates/snippet-tool.html" import snippetTool %}
{% from "templates/snippet-table.html" import snippetTable %}
<!DOCTYPE html>
<html class="fonts-loaded" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="base-v2.css" />
  <style>
    .ds-stick-it { position: sticky; top: 0; z-index: 1 }
    .ds-breathe {padding: 1rem}
    .ds-breathe-m {margin: 1rem; display: block}
    .ds-desc p {margin: 1rem 0}
    .ds-menu {overflow: scroll; height: 95vh}
    .ds-menu__child {padding-left: 1rem;}
    .ds-wide {width: 100%}
    .ds-spacer {padding-bottom: 5rem; position: relative;}  
    .ds-anchor {position: absolute;}    
    .is-active .ds-code-dropdown {position: static;}
    /* Bulma overrides */
    a {color: inherit}
  </style>
</head>

<body class="fonts-loaded">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          {{ name }}</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical is-3">
        <aside class="menu ds-stick-it">
          <p class="menu-label">
            Sections
          </p>
          <ul class="menu-list ds-menu box has-background-light">
            {% for item in styleData %}
              {% if item.experimental !== true %}
                <li class="{% if item.depth !== 1 %}ds-menu__child{% else %}has-text-weight-bold{% endif %}">
                  <a class="" href="#{{ item.slug }}">
                  {{ item.prettyName }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="tile is-parent is-vertical is-9">
        <main>
          {% for item in styleData %}
          {% set markup = item.markup %}
          {% set isFile = item.isFile %}
          {% set description = item.cleanDesc %}
          {% set descriptionTags = item.description %}
          {% set codeSnippet = item.codeSnippet %}
          {% set isTool = item.isTool %}
          {# <span class="ds-breathe"></span> #}
          
          <div class="section ds-spacer">
            <a class="ds-anchor" id="{{ item.slug }}"></a>
            <p class="ds-breathe menu-label ds-stick-it has-text-white has-background-black-ter ">{{item.groupName}}{% if item.depth !== 1 %} > <span class="has-text-weight-bold {% if item.experimental  %}has-text-info{% elif item.deprecated %}has-text-warning{% endif %}">{{item.prettyName}}</span>{% endif %}</p>
            <h2 class="title is-{{ item.depth }}">
              {{ item.prettyName }}
              {% if item.experimental %}
              <span class="tag is-info">V2</span>
              {% endif %}
              {% if item.deprecated %}
              <span class="tag is-warning">Sunset</span>
              {% endif %}
            </h2>
            <div class="subtitle ds-desc">
              {{ descriptionTags | safe }}
            </div>
            <div class="columns is-multiline">
              {% for color in item.colors %}
              <div class="column is-3">
                {{ colorSwatch(color.name, color.color, color.description) }}
              </div>
              {% endfor %}
            </div>
            {% if item.parameters | length %}
            <!-- Parameters used for SCSS Variables -->
            <table class="table">
              <tr>
                <th>
                  {% if isTool %}Parameter{% else %}Variable Name{% endif %}
                </th>
                <th>Default</th>
                <th>Description</th>
              </tr>
              {% for variable in item.parameters %}
              <tr>
                {{ variableSwatch(variable.name, variable.defaultValue, variable.description ) }}
              </tr>
              {% endfor %}
            </table>
            {% endif %}
            <!-- GitHub counts -->
            {% for repo in item.gitHubData %}
            <div class="dropdown">
              <div class="dropdown-trigger">
                <button aria-controls="dropdown-menu" aria-haspopup="true" class="button">
                  Found in&nbsp;
                  <span class="tag is-warning">
                    <strong>
                      {{ repo.count }}</strong>
                  </span>
                  &nbsp;places in&nbsp;<strong>{{ repo.name }}</strong>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  {% for result in repo.results %}
                  <a class="dropdown-item" href="{{ result.link }}">
                    {{ result.file }}
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
            {% if markup %}
            <div class="columns is-multiline">
              <div class="column is-full">
                {{ snippet(item.header, markup, '', isFile, description, codeSnippet, item.mainClass) }}
              </div>
              {% if (item.modifiers|length) and ( item.groupName === 'Typography' or item.groupName === 'Utility') %}
                <div class="column is-full">
                  {{ snippetTable(item.modifiers) }}
                </div>
              {% else %}
                {% for modifier in item.modifiers %}
                  <div class="column is-half">
                    {{ snippet(item.header, markup, modifier, isFile) }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </main>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>
          {{ name }}</strong>
        for
        <a href="https://www.texastribune.org/">The Texas Tribune</a>.
      </p>
    </div>
  </footer>
  <script>
    // Add simple dropdown for Bulma dropdown component
    document.addEventListener('DOMContentLoaded', function () {
      // Dropdowns
      var $dropdowns = getAll('.dropdown:not(.is-hoverable)');
      if ($dropdowns.length > 0) {
        $dropdowns.forEach(function ($el) {
          $el.addEventListener('click', function (event) {
            event.stopPropagation();
            $el.classList.toggle('is-active');
          });
        });
      }
      function closeDropdowns() {
        $dropdowns.forEach(function ($el) {
          $el.classList.remove('is-active');
        });
      }
      // Close dropdowns if ESC pressed
      document.addEventListener('keydown', function (event) {
        var e = event || window.event;
        if (e.keyCode === 27) {
          closeDropdowns();
        }
      });
      // Functions
      function getAll(selector) {
        return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
      }
    });
  </script>
</body>

</html>