// Info list (c-info-list)
//
// Use for displaying "the basics"
//
// Markup: 6-components/info-list/info-list.html
//
// Styleguide 6.1.3
.c-info-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $size-xl;
  list-style: none;
}