{% from "../macros/menu-item.njk" import menuItem %}
{% set current = page.url %}

<p class="menu-label">Base</p>
<ul class="menu-list">
  {% for item in nav.items %}
    <li>{{ menuItem(item.slug, item.name, current) }}</li>
  {% endfor %}
</ul>
{% for section in docs.sections %}
  {% if section.name !== 'Settings' and section.name !== 'Tools' and section.name !== 'Resets' %}
    <p class="menu-label">{{ section.name }}</p>
    <ul class="menu-list">
      {% for class in section.list|sort(attribute='name') %}
        <li>{{ menuItem('sections/' + section.name | slug + '/' + class.className | cleanSlug, class.name | cleanName, current) }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}