<div class="control">
  <input class="input" type="text" oninput='onInput()' id="default" list="terms" placeholder="e.g. padding">
  <datalist id="terms">
    {# custom options #}
    {% for item in nav.items %}
      {% set dataLink = '/' + item.slug  + '/' %}
      <option value="{{ item.name }}" data-link="{{ dataLink | url }}" />
    {% endfor %}
    {# from data #}
    {% for item in docs.cssClasses %}
      {% set dataLink = '/sections/'+ item.section | slug + '/' + item.className | cleanSlug + '/' %}
      <option value="{{ item.name }}" data-link="{{ dataLink | url }}" />
      {% for keyword in item.details.keywords %}
        <option value="{{ keyword }}" data-link="{{ dataLink | url }}" />
      {% endfor %}
      {% for keyword in item.modifiers %}
        <option value="{{ keyword }}" data-link="{{ dataLink | url }}" />
      {% endfor %}
    {% endfor %}
    {% for item in docs.sections %}
      {% set dataLink = '/sections/'+ item.name | slug + '/' %}
      <option value="{{ item.name }}" data-link="{{ dataLink | url }}" />
    {% endfor %}
    {% for item in docs.tokenMaps %}
      {% if item.details.isTool %}
        {% set dataLink = '/tools/#'+ item.name | cleanSlug %}
      {% else %}
        {% set dataLink = '/variables/#'+ item.name | cleanSlug %}
      {% endif %}
      <option value="{{ item.name }}" data-link="{{ dataLink | url }}" />
    {% endfor %}
  </datalist>
</div>
