{% from "../macros/toggle-view.njk" import toggleView %}
{% set githubData = item.className | usageKey(docs.usage) %}
<div class="q-display-grid q-wide-container">
  {% if not item.details.isHelper %}
    <div class="q-display-col">
      {% if not item.details.isRecipe %}
        <code>.{{ item.className }}</code>
      {% else %}
        No specific class used here. See code view for details.
      {% endif %}
    </div>
    {{ toggleView('example', item, githubData) }}
  {% endif %}
  {% for modifier in item.modifierList %}
    {% set modifier = modifier | modifierKey(docs.modifiers) %}
    {% set githubData = modifier.className | usageKey(docs.usage) %}
    <div class="q-display-col">
      <code>.{{ modifier.className }}</code>
      <div class="q-bottom-spacer"></div>
      <div class="is-size-7 has-text-grey">{{ modifier.description | safe }}</div>
    </div>
    {{ toggleView('modifier', modifier, githubData) }}
  {% endfor %}
</div>
