// Text input (c-text-input)
//
// Text form inputs. Can be used with `type="text"`, `type="email"`, etc. Add `.is-valid` if the value is not valid. Use `c-text-input__input--standard` to fix [iOS focus bug](https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone).
//
// Markup: 6-components/text-input/text-input.html
//
// Styleguide 6.1.5
.c-text-input {
  &__input {
    -webkit-appearance: none;
    border-color: $color-gray-light;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    outline: none;
    padding: $size-xxs;
    transition: box-shadow .15s ease-in-out;

    &--standard {
      font-size: 16px;
    }

    // kill X button that appears on IE and edge
    // because it doesn't handle JS input event correctly
    &::-ms-clear {
      display: none;
    }

    &:focus {
      box-shadow: 0 0 0 .2rem rgba($color-blue-light, .4);
    }

    &.is-invalid {
      border-color: $color-error;

      &:focus {
        box-shadow: 0 0 0 .2rem rgba($color-error, .4);
      }
    }
  }
}