// Pagination (c-pagination)
//
// List for paginating links. Three elements are expected in the list: A previous page label, a group of page numbers, and a  "next page" label.
//
//
// Markup: 6-components/pagination/pagination.html
//
// Styleguide 6.1.3
.c-pagination {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;

  &__count {
    margin: 0 $size-xxxs;
  }

  &__icon {
    &--prev {
      margin-right: $size-xxxs;
    }

    &--next {
      margin-left: $size-xxxs;
    }
  }
}