// List (c-list)
//
// Our standard list is just plain ol' bullets
//
// Markup: 6-components/list/list.html
//
// Styleguide 6.1.3
.c-list {
  padding-left: $size-b;

  li {
    list-style: disc;

    &::marker {
      color: $color-gray-medium;
    }

    &:hover::marker {
      color: $color-yellow-tribune;
    }
  }
}
