// List (c-list)
//
// Our standard list is just plain ol' bullets
//
// .c-list--arrows - Sometimes we add little SVG bullets
//
// Markup: 6-components/list/list.html
//
// Styleguide 6.1.3
.c-list {
  padding-left: $size-b;

  li {
    list-style: disc;
  }

  &--arrows {
    li {
      list-style: none;
      position: relative;
      

      &:before {
        background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 28"><path fill="rgb(208,208,208)" d="M9 14c0 0.266-0.109 0.516-0.297 0.703l-7 7c-0.187 0.187-0.438 0.297-0.703 0.297-0.547 0-1-0.453-1-1v-14c0-0.547 0.453-1 1-1 0.266 0 0.516 0.109 0.703 0.297l7 7c0.187 0.187 0.297 0.438 0.297 0.703z"></path></svg>');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: $size-xs $size-xs;
        content: '';
        height: $size-xs;
        left: -$size-b;
        margin-top: 3px;
        position: absolute;
        width: $size-xs;
      }

      &:hover {
        &:before {
          background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 28"><path fill="rgb(255,194,0)" d="M9 14c0 0.266-0.109 0.516-0.297 0.703l-7 7c-0.187 0.187-0.438 0.297-0.703 0.297-0.547 0-1-0.453-1-1v-14c0-0.547 0.453-1 1-1 0.266 0 0.516 0.109 0.703 0.297l7 7c0.187 0.187 0.297 0.438 0.297 0.703z"></path></svg>');
        }
      }
    }
  }
}
