// Data Visuals Plugin class (dv201808-graphic)
//
// The sole purpose of adding this here is document how our plugins work at current state. We will refactor these classes eventually. {{isWide}} {{isHelper}}
//
// dv201808-graphic--centered.dv201808-graphic--centered-giant - foo
// dv201808-graphic--centered.dv201808-graphic--centered-narrow - foo
// dv201808-graphic--centered.dv201808-graphic--centered-super-narrow - foo
// dv201808-graphic--side-right.dv201808-graphic--side-wide - foo
// dv201808-graphic--side-right.dv201808-graphic--side-narrow - foo
// dv201808-graphic--side-right.dv201808-graphic--side-super-narrow - foo
// dv201808-graphic--side-right-narrow.dv201808-graphic--side-wide - foo
// dv201808-graphic--side-right-narrow.dv201808-graphic--side-narrow - foo
// dv201808-graphic--side-right-narrow.dv201808-graphic--side-super-narrow - foo
// dv201808-graphic--side-left.dv201808-graphic--side-wide - foo
// dv201808-graphic--side-left.dv201808-graphic--side-narrow - foo
// dv201808-graphic--side-left.dv201808-graphic--side-super-narrow - foo
// dv201808-graphic--side-left-narrow.dv201808-graphic--side-wide - foo
// dv201808-graphic--side-left-narrow.dv201808-graphic--side-narrow - foo
// dv201808-graphic--side-left-narrow.dv201808-graphic--side-super-narrow - foo
//
// Markup: 6-components/dv201808-graphic/dv201808-graphic.html
//
// Styleguide 6.1.3
//
.dv201808-graphic {
  clear: both;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.dv201808-graphic--centered {
  margin-left: auto;
  margin-right: auto;
}

.dv201808-graphic--centered-giant {
  max-width: 80rem;
}

.dv201808-graphic--centered-narrow {
  max-width: 42.75rem;
}

.dv201808-graphic--centered-super-narrow {
  max-width: 21.875rem;
}
@media screen and (min-width: 43.75em) {
  .dv201808-graphic {
    padding-left: 0;
    padding-right: 0;
  }

  .dv201808-graphic--side-wide {
    margin-right: 10%;
    max-width: 40rem;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }

  .dv201808-graphic--side-narrow {
    max-width: 21.875rem;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }

  .dv201808-graphic--side-super-narrow {
    max-width: 22.5rem;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }

  .dv201808-graphic--side-right {
    float: right;
    margin-left: 1.1rem;
    margin-right: 13%;
    margin-top: 0;
  }

  .dv201808-graphic--side-right-narrow {
    float: right;
    margin-left: 1.1rem;
    margin-right: 18%;
    margin-top: 0;
  }

  .dv201808-graphic--side-left {
    float: left;
    margin-left: 8%;
    margin-right: 1.1rem;
    margin-top: 0;
  }

  .dv201808-graphic--side-left-narrow {
    float: left;
    margin-left: 13%;
    margin-right: 1.1rem;
    margin-top: 0;
  }
}
@media screen and (max-width: 61em) {
  .dv201808-graphic--centered-giant {
    padding-left: 0.85rem;
    padding-right: 0.85rem;
  }
}
