// Text color (has-text-<color>)
//
// Set the color of text. {{isHelper}}
//
// .has-text-black -  black text color
// .has-text-black-off - black-off text color
// .has-text-white -  white text color
// .has-text-white-off -  white off text color
// .has-text-teal -  teal text color
// .has-text-gray -  gray text color
// .has-text-gray-light - gray-light text color
// .has-text-gray-dark - gray-dark text color
// .has-text-yellow -  yellow text color
// .has-text-blue - blue text color
// .has-text-blue-dark - blue dark text color
// .has-text-error - error text color
// .has-text-success - success text color
// .has-text-sponsor - sponsor text color
// .has-text-facebook - facebook text color
// .has-text-twitter - twitter text color
//
// Markup: <p class="{{ className }}">Example</p>
//
//
// Styleguide 8.0.1
//

// Text color:hover (has-text-hover-<color>) 
//
// Set the color of text on hover. {{isHelper}}
//
// .has-text-hover-black -  black text-hover color
// .has-text-hover-black-off - black-off text-hover color
// .has-text-hover-white -  white text-hover color
// .has-text-hover-white-off -  white off text-hover color
// .has-text-hover-teal -  teal text-hover color
// .has-text-hover-gray -  gray text-hover color
// .has-text-hover-gray-light - gray-light text-hover color
// .has-text-hover-gray-dark - gray-dark text-hover color
// .has-text-hover-yellow -  yellow text-hover color
// .has-text-hover-blue - blue text-hover color
// .has-text-hover-blue-dark - blue dark text-hover color
// .has-text-hover-error - error text-hover color
// .has-text-hover-success - success text-hover color
// .has-text-hover-sponsor - sponsor text-hover color
// .has-text-hover-facebook - facebook text-hover color
// .has-text-hover-twitter - twitter text-hover color
//
// Markup: <p class="{{ className }}">Hover me</p>
//
//
// Styleguide 8.0.2
//

// Background Color (has-bg-<color>) 
//
// Set the background-color of an element. {{isHelper}}
//
// .has-bg-black -  black background color
// .has-bg-black-off - black-off background color
// .has-bg-white -  white background color
// .has-bg-white-off -  white off background color
// .has-bg-teal -  teal background color
// .has-bg-gray -  gray background color
// .has-bg-gray-light - gray-light background color
// .has-bg-gray-dark - gray-dark background color
// .has-bg-yellow -  yellow background color
// .has-bg-blue - blue background color
// .has-bg-blue-dark - blue dark background color
// .has-bg-error - error background color
// .has-bg-success - success background color
// .has-bg-sponsor - sponsor background color
// .has-bg-facebook - facebook background color
// .has-bg-twitter - twitter background color
//
// Markup: <div class="has-padding {{ className }}">Example</div>
//
//
// Styleguide 8.0.3
//

$color-map: (
  "black": $color-black-pure,
  "black-off": $color-black-off,
  "white": $color-white-pure,
  "white-off": $color-white-off,
  "teal": $color-teal-gray,
  "gray": $color-gray-medium,
  "gray-light": $color-gray-light,
  "gray-dark": $color-gray-dark,
  "yellow": $color-yellow-tribune,
  "blue": $color-blue-light,
  "blue-dark": $color-blue-dark,
  "error": $color-error,
  "success": $color-success,
  "sponsor": $color-sponsor,
  "twitter": $color-twitter,
  "facebook": $color-facebook,
);

@each $color, $value in $color-map {
  .has-bg-#{$color} {
    background-color: $value;
  }
}

@include mq($from: bp-m) {
  @each $color, $value in $color-map {
    .has-text-hover-#{$color}:hover {
      color: $value;
    }
  }
}

@each $color, $value in $color-map {
  .has-text-#{$color} {
    color: $value;
  }
}
