// Hidden (is-hidden-<specifier>)
//
// Contain !important flags to override other display rules. {{isHelper}}
//
// .is-hidden -  Hide always
// .is-hidden-print -  Hide from print previews
// .is-sr-only - Visible only to assistive technology
// .is-hidden-from-bp-xs -  Hide from bp-xs onward
// .is-hidden-from-bp-s -  Hide from bp-s onward
// .is-hidden-from-bp-m -  Hide from bp-m onward
// .is-hidden-from-bp-l -  Hide from bp-l onward
// .is-hidden-from-bp-xl -  Hide from bp-xl onward
// .is-hidden-from-bp-xxl -  Hide from bp-xxl onward
// .is-hidden-from-bp-default -  Hide from bp-default onward
// .is-hidden-until-bp-xs -  Hide until bp-xs
// .is-hidden-until-bp-s -  Hide until bp-s
// .is-hidden-until-bp-m -  Hide until bp-m
// .is-hidden-until-bp-l -  Hide until bp-l
// .is-hidden-until-bp-xl -  Hide until bp-xl
// .is-hidden-until-bp-xxl -  Hide until bp-xxl
// .is-hidden-until-bp-default -  Hide until bp-default
// .is-transparent -  Removes opacity. (Use this to fade elements out.)
// .is-sr-only - Only visible to screen readers. [Reference](https://accessibility.18f.gov/hidden-content/)
//
// Markup: <div style="background:#ffc200;" class="{{ className }}"><strong>{{ className }}</strong>: Resize to see me appear/disappear</div>
//
//
// Styleguide 8.0.1
//
.is-hidden,
.hidden {
  display: none !important;
}
// ^ including a duplicate class of .hidden right now since it's so littered throughout the code base.

.is-transparent {
  transition: opacity .3s;
  opacity: 0;
  z-index: -1;
}

.is-hidden-print {
  @media print {
    display: none !important;
  }
}

@each $bp-name, $bp-value in $mq-breakpoints {
  .is-hidden-from-#{$bp-name} {
    @include mq($from: #{$bp-name}) {
      display: none !important;
    }
  }

  .is-hidden-until-#{$bp-name} {
    @include mq($until: #{$bp-name}) {
      display: none !important;
    }
  }
}
