// Sponsor block (c-sponsor-block)
//
// Sponsor block is a promotional element featuring a paid post. When loaded lazily, wrap this component in `c-ad-fluid`. {{isWide}}
//
// c-sponsor-block--filled - This version includes a border/bg color. It can be dropped after lazy ads rolls out and c-sponsor-block becomes coupled with `c-ad-fluid`.
//
// Keywords: block
//
// Markup: 6-components/sponsor-block/sponsor-block.html
//
// Styleguide 6.1.3
$sb-headline-lines: 2;
$sb-desc-lines: 3;

.c-sponsor-block {
  @include gap($size-s);
  display: grid;
  grid-template-areas: 'image-wrap' 'text';
  grid-template-columns: 1fr;
  padding: $size-giant $size-s $size-s;
  position: relative;

  &__image {
    object-fit: cover;
    height: 160px;
  }

  &__label {
    left: $size-s;
    position: absolute;
    top: $size-s;
  }

  &__text {
    display: grid;
  }

  &__sponsor {
    font-size: $size-xxs;
  }

  &__static-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  &__headline {
    font-size: $size-b;
    max-height: $size-b * $font-line-height-m * $sb-headline-lines; // Fallback for non-webkit
    line-height: $font-line-height-s;
    -webkit-line-clamp: $sb-headline-lines;
  }

  &__desc {
    font-size: $size-xs;
    height: $size-xs * $font-line-height-m * $sb-desc-lines; // Fallback for non-webkit
    line-height: $font-line-height-m;
    -webkit-line-clamp: $sb-desc-lines;
  }

  &__image-wrap {
    grid-area: image-wrap;
  }

  &__text {
    grid-area: text;
  }

  &--filled {
    background-color: $color-white-off;
    border-top: 5px solid $color-sponsor;
    border-bottom: 2px solid $color-sponsor;
  }

  @include mq($from: bp-m) {
    grid-template-areas: 'text image-wrap';
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    padding-top: $size-s;

    &__image {
      height: 200px;
    }

    &__label {
      position: static;
    }

    &__sponsor {
      font-size: $size-xs;
    }

    &__headline {
      font-size: $size-m;
      max-height: $size-m * $font-line-height-s * $sb-headline-lines;
    }

    &__desc {
      font-size: $size-s;
      height: $size-s * $font-line-height-m * $sb-desc-lines;
    }
  }
  @include mq($from: bp-l) {
    &__main {
      padding: 0 $size-s 0 $size-xxxl;
    }
  }
}
