// Story body (c-story-body)
//
// The approach for `c-story-body` is different from other components because we use descendant selectors instead of BEM.
//
//
// Markup: 6-components/story-body/story-body.html
//
// Styleguide 6.1.3

$story-padding-buffer: 2em; // must be em for SASSmq helper
$story-narrow-bp: ($story-narrow / 1rem) + $story-padding-buffer;

:root {
  --story-body-padding: #{$size-xs};
}

.c-story-body {
  > p,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > span,
  > hr {
    @include underlined-link-parent;
    max-width: $story-narrow;
    margin: $size-b auto;
    line-height: $font-line-height-b;
    @include mq($until: $story-narrow-bp) {
      padding: 0 var(--story-body-padding);
    }
  }

  > p,
  > h2,
  > ul,
  > ol {
    @include font-setting('secondary');
  }

  > ul,
  > ol {
    padding: 0 $size-b 0 3.5rem;

    li {
      margin-bottom: $size-b;
    }
  }

  > ul {
    list-style: disc;
  }

  // The CMS supports h2 - h4
  > h2 {
    font-size: $size-m;
    margin-top: $size-giant;
  }

  > h3 {
    font-size: $size-b;
    margin-top: $size-xxl;
  }

  > h4 {
    font-size: $size-s;
    margin-top: $size-xl;
  }

  // don't add too much space if h2 is first
  > h2:first-child {
    margin-top: $size-b;
  }

  sub, sup {
    position: initial;
  }

  hr {
    margin: $size-xl auto;
  }

}
