// Story body (c-story-body)
//
// Story bodies are a special component because we have limited control over the class names within them. We must deviate from BEM and create catch-all tag selectors to allow the greatest flexibility of the markup.
//
// .c-story-body--nested - Assumes story body is wrapped in another component.
//
// Markup: 6-components/story-body/story-body.html
//
// Styleguide 6.1.3

$story-padding-buffer: 2em; // must be em for SASSmq helper
$story-narrow-bp: ($story-narrow / 1rem) + $story-padding-buffer;

:root {
  --story-body-padding: #{$size-xs};
}

.c-story-body {
  > p,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > span,
  > hr {
    max-width: $story-narrow;
    margin: $size-b auto;
    line-height: 1.4;
    @include mq($until: $story-narrow-bp) {
      padding: 0 var(--story-body-padding);
    }
  }

  > p,
  > h2,
  > ul,
  > ol {
    @include font-setting('secondary');
    @include underlined-link-parent;
  }

  > ul,
  > ol {
    padding: 0 $size-b 0 3.5rem;

    li {
      margin-bottom: $size-b;
    }
  }

  > ul {
    list-style: disc;
  }

  // h2s are a dropdown option in the CMS
  // we hard-set the font size for this reason
  > h2 {
    font-size: $size-m;
  }

  sub, sup {
    position: initial;
  }

  hr {
    margin: $size-xl auto;
  }

  &--nested {
    --story-body-padding: 0;
  }
}
