// Button
//
// Your standard button suitable for clicking.
//
// :hover - Highlights when hovering.
// button--yellow - Do not press this big, shiny, red button.
//
// Markup: <button class="{{modifier_class}}">Button</button>
//
// Styleguide 6.1
.button {
    background-color: $color-blue-light;
    padding: 1rem;
    &--yellow {
        background-color: $color-yellow-tribune;
    }
}